{% extends 'base.html' %}
{% block content %}
    <section id="about">
    <div class="container">
      {% if user.is_authenticated %}
        {{user.username}}
      {% else %}
                <div class="row">
        <div class="col-lg-12 text-center">
        <h2>About - Totla Registration{{ count }}</h2>
        <hr class="star-primary">
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-6">
         <img src="http://cdn.supercell.com/supercell.com/151120111628/all/themes/supercell/img/bg_clashofclans_character.png" class="img-responsive" alt="">
        </div>
        <div class="col-lg-6">
          <p><strong>NKII</strong><br>
            <small>stands for "Najjaci klan idje ikad", founded 2015.</small><br></p>
          
          <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 55%">
            <span class="sr-only">55% Complete (success)</span>55% achieved
          </div>
          <div class="progress-bar progress-bar-info" style="width: 45%">
            <span class="sr-only">45% Complete (warning)</span>45% to go
          </div>
        </div>
          
          
          
          
          <p><strong>Clash of Clans</strong> is a superb game, freemium or otherwise, with more nuance than most give it credit for. That's why it's passed the test of time since its launch and still has an active community devotedly constructing elaborate fortresses in the hope of becoming invincible.</p>
            <p>Clash of Clans is thus a simple game, but that’s more of a strength than a weakness. It’s simple enough to provide quick, painless matches on an iPhone in an idle moment, and there are enough different units to choose from in the battle mode to make playing against other players endlessly rewarding.</p>
          <p>Best of all, the option to fight against NPC goblins gives Clash of Clans a small edge over similar strategy games that rely almost entirely on player-versus-player combat.</p>
        </div>
      </div>
      {% endif %}
    </div><!-- /.container -->
  </section>
  
{% endblock  %}
